extends layout

block content
    body
        section.content
            div(class='LI-profile-badge', data-version='v1', data-size='medium', data-locale='en_US', data-type='horizontal' data-theme='dark' data-vanity='hoksuy')
                a( class='LI-simple-link' href='https://www.linkedin.com/in/hoksuy?trk=profile-badge') Hok Uy