extends layout

block content
	body(id='top')
		nav(class='navbar is-link', role='navigation', aria-label='main navigation')
			div(class='navbar-brand')
				a(class='navbar-item', href='/')
					img(src='/img/logo_full.png', width='112', height='28')
				a(role='button', class='navbar-burger burger', aria-label='menu', aria-expanded='false', data-target='navbarBasicExample')
					span(aria-hidden='true')
					span(aria-hidden='true')
					span(aria-hidden='true')
			div(id='navbarBasicExample', class='navbar-menu')
				div(class='navbar-start')
					a(class='navbar-item') Home
					a(class='navbar-item') About
					a(class='navbar-item') Portfolio
					a(class='navbar-item') Contact
			div(class='navbar-end')
				div(class='navbar-item has-dropdown is-hoverable')
					a(class='navbar-link') More
					div(class='navbar-dropdown')
						a(class='navbar-item') GitHub
						a(class='navbar-item') LinkedIn
						a(class='navbar-item') Report an issue
		section(class='hero is-white has-text-centered')
			div(class='hero-body')
				div(class='container')
					div(class='columns is-centered')
						div(class='column')
							h1(class='title is-spaced is-size-1-desktop -is-size-2-tablet is-size-3-mobile animate-fadeRight') Hello World!
							h2(class='subtitle is-size-4-desktop animate-fadeLeft') My name is Hok. I am an IT professional and developer who's seeking new opportunities!