extends layout

block content
	body(id='top' style='overflow: hidden')
		section(class='hero is-white has-text-centered section1 animate-fadeIn is-fullheight')
			div(class='hero-head')
				nav(class='navbar is-link animate-fadeDown', role='navigation', aria-label='main navigation')
					div(class='navbar-brand')
						a(class='navbar-item is-active', href='/')
							img(src='/img/logo.png')
						a(role='button', class='navbar-burger burger', aria-label='menu', aria-expanded='false', data-target='navbarBasicExample')
							span(aria-hidden='true')
							span(aria-hidden='true')
							span(aria-hidden='true')
					div(id='navbarBasicExample', class='navbar-menu')
						div(class='navbar-start')
							a(class='navbar-item') About
							a(class='navbar-item') Portfolio
							a(class='navbar-item') Contact
						div(class='navbar-end')
							div(class='navbar-item has-dropdown is-hoverable')
								a(class='navbar-link') More
								div(class='navbar-dropdown is-right animate-fadeIn')
									a(class='navbar-item', href='https://github.com/hsengu')
										img(src='/img/badges/github.png', class='nav-badge', width='40')
										span GitHub
									a(class='navbar-item', href='https://www.linkedin.com/')
										img(src='/img/badges/linkedin.png', class='nav-badge', width='40')
										span LinkedIn
									a(class='navbar-item') Report an issue
			div(class='hero-body')
				div(class='container')
					div(class='columns is-centered')
						div(class='column animate-fadeRight')
							h1(class='title is-spaced is-size-1-desktop -is-size-2-tablet is-size-3-mobile has-text-white animate-bounce') Hello World!
							h2(class='subtitle is-size-4-desktop has-text-white animate-fadeLeft') My name is Hok. I am an IT Professional and Developer who's seeking new opportunities!
					div(class='columns is-one-quarter animate-fadeIn')
						div(class='column')
						div(class='column')
						div(class='column')
							div(class='buttons')
								div(class='button is-medium is-transparent-button') See more...
			div(class='hero-foot has-text-white')
				div(class='columns is-centered animate-fadeUp')
					div(class='column animate-float')
						a(href='https://bulma.io', class='badge')
							img(src='/img/badges/made-with-bulma--semiwhite.png', width='192')
						a(href='https://www.w3.org', class='badge')
							img(src='/img/badges/HTML5_Badge_512.png', width='36')
						a(href='https://www.nginx.com', class='badge')
							img(src='/img/badges/Nginx_logo.png', width='96')
						a(href='https://www.nodejs.org/', class='badge')
							img(src='/img/badges/nodejs.png', width='72')
						a(href='https://www.docker.com', class='badge')
							img(src='/img/badges/docker.png', width='36')
