.section1 {
  background: linear-gradient(
        rgba(0, 0, 0, 0.50),
        rgba(0, 0, 0, 0.50)
    ),
    url('../img/bg1.jpg') center center;
}

.badge {
  padding: 15px;
}

.nav-badge {
  padding-right: 15px;
}

.is-transparent-button {
  background-color: rgba(255, 255, 255, 0.25);
  color: white;
}